<md-toolbar ng-if="isLogin" layout="row" class="md-whiteframe-z3" ng-controller="navCtrl">
  <div class="md-toolbar-tools">
    <md-button ng-click="close()" class="md-icon-button">
      <md-icon md-font-icon="fa fa-arrow-left" class="md-subhead"></md-icon>
    </md-button>

    <!-- logo -->
    <md-button class="md-icon-button" ui-sref="main">
      COCOON
    </md-button>

    <span flex></span>
    <p class="md-body-1">Welcome <strong>{{googleName}}</strong>
    </p>
    <!-- toolbar-menu -->
    <div class="md-toolbar__menu" layout="row">
      <md-menu>
        <md-button ng-click="$mdOpenMenu()" >!</md-button>
        <md-menu-content style="width: 300px">
          <md-menu-item><md-button ng-click="">Notification</md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button ng-click="logout()">Logout</md-button>

    </div>
  </div>
  <!-- dùng để test, sẽ xoá sau -->
</md-toolbar>
