<md-toolbar ng-if="isLogin" layout="row" class="md-whiteframe-z3" ng-controller="navCtrl">
  <div class="md-toolbar-tools">
    <md-button ng-click="close()" class="md-icon-button">
      <md-icon md-font-icon="material-icons">&#xE5C4;</md-icon>
    </md-button>

    <!-- logo -->
    <md-button class="md-icon-button" ui-sref="main">
      COCOON
    </md-button>

    <span flex></span>
    <p class="md-body-1">Welcome <strong>{{googleName}}</strong>
    </p>
    <!-- toolbar-menu -->

    <nav-notification user-id="userId"></nav-notification>
    <md-button ng-click="logout()">Logout</md-button>
  </div>

</md-toolbar>
