<md-toolbar>
  <div class="md-toolbar-tools">
    this is timeline area
  </div>
</md-toolbar>

<md-content>
  <div gantt-chart ng-begin="scaleBegin" ng-end="scaleEnd" ng-interval="interval"
           ng-label-title="Label" ng-action-title="Action" ng-format="formatTime(tic)"
           ng-scroll-left="scrollLeft" class="small-top-margin">

        <div gantt-row ng-repeat="row in data | filter:search | orderBy:'label':rev">

          <div gantt-label-container>
            {{ row.label }}
          </div>

          <div gantt-bar-container>
            <div gantt-bar ng-repeat="bar in row.bars" ng-begin="bar.start" ng-end="bar.end">
              <div gantt-dragable-bar>
                <div class="custom-bar">
                  {{ bar.label }}
                </div>
              </div>
            </div>
          </div>

          <div gantt-action-container>
            {{ row.label }}
          </div>

        </div>
  </div>
</md-content>
