<div ng-repeat="x in task |filter: {$id : taskId }">

  <!-- common information -->
  {{x.taskName}} {{x.listName}}
  <br>

  <label>End date</label>

  <input type="text" ng-model="x.taskName" ng-change="task.$save(x)" />

  <datepicker date-format="dd/MM/yyyy">
    <input type="text" ng-model="x.startDate" ng-change="task.$save(x)">
  </datepicker>
  <label>End date</label>
  <datepicker date-format="dd/MM/yyyy">
    <input type="text" ng-model="x.endDate" ng-change="task.$save(x)">
  </datepicker>

  <!-- button area -->
  <br>
  <md-button ng-click="close()">Close</md-button>
  <md-button ng-click="task.$remove(x);close()">Delete</md-button>
  <!--END button area-->

  <!------------END common information------------>

  <!-- Check list area -->
  <div ng-repeat="cl in checklist">
    <input type="checkbox" ng-model="cl.isDone" ng-change="checklist.$save(cl)" /> {{cl.text}}

  </div>
  <br>

  <p>Number of Check list: {{total}}</p>


  <input type="text" ng-model="data.text" />
  <md-button ng-click="addChecklist(); data.text=''">Add Check list</md-button>
  <!--END Check list area-->

  <!-- message Area -->
  <div ng-repeat="msg in task.message">



  </div>
  <!--END message Area-->



</div>
