<md-content layout="column" ng-repeat="task in tasks" style="min-height: 90%">

  <!-- common information -->
  <div layout-padding layout="row">
    <md-card layout-padding ng-repeat="list in listDetail" md-theme="{{list.listTheme}}" class="list-name">{{list.listName}}</md-card>
    <input type="text" ng-model="task.taskName" ng-change="tasks.$save(task)" class="md-headline" />
  </div>

  <div layout="row" layout-padding flex>
    <div flex="75" layout="column">
      <div layout="row" class="task-header">
        <label>Start date</label>
        <div class="datepicker-container">
          <datepicker date-format="dd/MM/yyyy">
            <input type="text" ng-model="task.startDate" ng-change="tasks.$save(task)">
          </datepicker>
        </div>
        <label>End date</label>
        <div class="datepicker-container">
          <datepicker date-format="dd/MM/yyyy">
            <input type="text" ng-model="task.endDate" ng-change="tasks.$save(task)">
          </datepicker>
        </div>
      </div>

      <!------------END common information------------>

      <!-- Check list area -->
      <div layout-padding class="checklist">
        <div style="text-align: center;">{{percentage | number: 0}} %
          <md-progress-linear md-theme="progress-state" class="md-primary" md-mode="determinate" value="{{percentage}}"></md-progress-linear>
        </div>

        <ul class="checklist__list">
          <li ng-repeat="cl in checklist">
            <md-checkbox ng-model="cl.isDone" ng-change="checklist.$save(cl)" class="md-primary">
              {{cl.text}}
            </md-checkbox>
          </li>
        </ul>

        <p>Number of Check list: {{total}}</p>

        <form class="checklist__add" layout="row">
          <input type="text" ng-model="data.text" flex placeholder="New check list item" />
          <md-button ng-click="addChecklist(); data.text=''" class="md-raised md-primary">Add to check list</md-button>
        </form>
      </div>
      <!--END Check list area-->


      <!-- message Area -->
      <div class="message" flex layout="column" layout-padding>
        <div layout="column" class="message__container">
          <div ng-repeat="msg in messages" layout="row" class="message__item" ng-class-even=" 'message__item--right' ">
            <p>{{msg.sender}}</p>
          <md-card flex layout-padding md-theme="message-bg" >
            {{msg.message}}
          </md-card>
          </div>
        </div>

        <span flex></span>
        <form layout="row" class="message__send">
          <input type="text" ng-model="data.msg" flex placeholder="Message all" />
          <md-button ng-click="sendMsg(); data.msg=''" class="md-raised md-primary">Send</md-button>
        </form>
      </div>
      <!--END message Area-->
    </div>

    <!-- Member area -->
    <div flex="25">
      <h1 class="md-title">Member area</h1>
      <p ng-repeat="member in projectMemberArray">{{member}}</p>
    </div>
    <!--END Member area-->
  </div>

  <!-- button area -->
  <md-toolbar class="toolbar--bottom">
    <div class="md-toolbar-tools">
      <md-button ng-click="close()" class="md-raised">Close</md-button>
      <md-button ng-click="tasks.$remove(task);close()" class="md-raised md-warn">Delete</md-button>
    </div>
  </md-toolbar>
  <!--END button area-->


</md-content>
