.datepicker-container {
  width: 250px;
}

datepicker {
  font-family: inherit !important;
  & * {
    font-family: inherit !important;
  }
}

.checklist__list {
  display: flex;
  height: 200px;
  flex-flow: column wrap;
}

.message__container {
  height: 210px;
  overflow-y: scroll;
  .message__item {
    width: 40%;
    &.md-hue-1 {
      color: #fff;
    }
  }
}

.toolbar--bottom .md-toolbar-tools {
  justify-content: flex-end;
}
