<section ng-repeat="x in profile" layout="column" layout-align="start center" class="profile">

  <img class="profile__avatar" ng-src="img/avatar.png" />

  <p class="md-subhead">{{x.firstName}}</p>

  <!-- Edit profile area -->

  <div ng-show="editProfile" layout="column" layout-align="start center">

    <md-input-container class="md-accent">
      <label>First name</label>
      <input type="text" ng-model="x.firstName" ng-change="profile.$save(x)" />
    </md-input-container>
    <md-input-container class="md-accent">
      <label>Last name</label>
      <input type="text" ng-model="x.lastName" ng-change="profile.$save(x)" />
    </md-input-container>


    <!------------END Change Password------------>
    <md-button ng-click="editProfile = !editProfile" class="md-accent">Done</md-button>
    <!------------END Edit profile area------------>

  </div>

  <div ng-hide="editProfile" class="md-actions">
    <md-button ng-click="editProfile = !editProfile" class="md-accent">Edit profile</md-button>
    <br>

  </div>
</section>
