<div>
  <input type="text" ng-model="addText" />
  <button ng-click="addProfile()">add</button>
</div>

<div ng-repeat="x in profile">

  <p>{{x.firstName}}</p>
  <!-- Edit profile area -->

  <div ng-show="editProfile">

    <input type="text" ng-model="x.firstName" ng-change="profile.$save(x)" />
    <input type="text" ng-model="x.lastName" ng-change="profile.$save(x)" />


    <!------------END Change Password------------>
    <button ng-click="editProfile = !editProfile">Done</button>
    <!------------END Edit profile area------------>

  </div>

  <div ng-hide="editProfile">
    <button ng-click="editProfile = !editProfile">Edit profile</button>
  </div>
</div>
