<md-content class="org">
  <!-- organization list -->

  <section layout-padding class="org__item" ng-repeat="org in organization |filterByUserId:filteredArray ">

    <!-- organization header -->
    <md-subheader>
      <form>
        <h1 class="md-title">
        <!-- input organization name -->

        <input type="text" ng-show="showInput" show-focus="showInput" ng-model="org.name" ng-blur="organization.$save(org)">
        <span ng-hide="showInput">{{org.name}}</span>

        <md-button class="md-icon-button" style="font-size: inherit" ng-click="showInput = !showInput"><md-icon md-font-icon="fa fa-pencil"></md-icon></md-button>
          <md-button ng-click="removeOrg(org.$id)">Remove</md-button>
      </h1>
      </form>
    </md-subheader>

    <!-- projects list -->
    <md-grid-list ng-init="projects = getProjects(org.$id); getProjectFilter(org.$id)" md-cols="4" md-gutter="3em" md-row-height="10em" class="projects">
      <!-- projects items -->


      <md-grid-tile ng-repeat="project in projects | filterByUserId:projectFilterArray ">
        <md-grid-tile-header class="md-subhead" ng-click="inputShowed = true">
          <input type="text" ng-model="project.projectName" show-focus="inputShowed" ng-show="inputShowed" ng-blur="inputShowed = false; projects.$save(project)" />
          <span ng-hide="inputShowed" ng-click="inputShowed = true" class="projects__title">{{project.projectName}}</span>
        </md-grid-tile-header>



        <!--        <md-progress-linear md-mode="determinate" value="60" md-theme="progress-state" class="md-primary"></md-progress-linear>-->
        <br>
        <md-grid-tile-footer>
          <md-button href="#/board/{{org.$id}}/{{project.$id}}">show details</md-button>
        </md-grid-tile-footer>

      </md-grid-tile>

      <md-grid-tile class="projects__add">

        <md-button class="md-raised md-primary" ng-hide="openProjectInput" ng-click="openProjectInput = !openProjectInput">Add project</md-button>
        <!-- Project input area -->
        <div ng-show="openProjectInput">
          <input type="text" ng-model="projectData.name" />
          <md-button class="md-raised md-primary" ng-click="openProjectInput =!openProjectInput ; addProject(org.$id); projectData.name =''"> Add project</md-button>
          <md-button ng-click="openProjectInput =!openProjectInput">Cancel</md-button>
        </div>
        <!------------END Project input area------------>
      </md-grid-tile>
      <!-- END projects item -->
    </md-grid-list>

  </section>

  <md-button class="md-raised md-accent org__add" ng-hide="openOrgInput" ng-click="openOrgInput = !openOrgInput">Add organization</md-button>

  <div ng-show="openOrgInput">
    <input type="text" ng-model="orgName" />
    <md-button class="md-raised md-accent org__add" ng-click="openOrgInput =!openOrgInput ; addOrg()">Add Organization</md-button>
    <md-button class="md-raised md-dangerous org__add" ng-click="openOrgInput =!openOrgInput">Cancel</md-button>
  </div>

</md-content>
