@import "../dist/material-colors/colors";

.org {
  .org__item {
    margin: 1em 0;
  }

/*
  .org__add {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 2em 4em;
  }
*/
}

.projects {
  md-grid-tile figure {
    background-color: #fff;

    md-grid-tile-header {
      @extend md-progress-linear;
      background-color: #fff;

      color: inherit;
    }

    p {
      @extend md-progress-linear;
    }

    md-progress-linear {
      padding: 0.5em;
    }
  }
  .projects__title {
    cursor: pointer;
  }
}
