@import "../dist/material-colors/colors";

.list-container {
  flex-wrap: wrap;
}

.list__header {
  .md-button {
    color: #fff;

    md-icon {
      color: inherit;
    }
  }
}

.tasks-list {
  color: #fff;

  .tasks-list__item {
    align-items: stretch;
    flex: initial;
    color: $md-grey-800;
  }
}
