<div ui-view="list">

</div>

<!--<div ui-view="timeline"></div>-->

<div>

  <p>Add member</p>
  <md-autocomplete md-search-text-change="" md-search-text="searchText" md-selected-item-change="addUsers(item.$id)" md-items="item in users | filter: searchText" placeholder="Type email of member to add">
    <span md-highlight-text="searchText" md-highlight-flags='i' ng-repeat="name in item.profile">{{name.firstName}}</span>
  </md-autocomplete>
  <!--END Search users area-->

</div>
<p>Users added</p>
<div ng-repeat="member in projectMember">

  {{member.$id}}

  <md-button ng-click="removeUsers(member.$id)">Remove Users</md-button>
</div>

<!-- test dragging and dropping -->
<p dnd-draggable dnd-dragstart="logEvent('tada', event)" dnd-effect-allowed="move">Drag me around</p>

<ul dnd-list="containers" dnd-dragover="log('test')">
  <li>sdcsics</li>
</ul>
<!--END test dragging and dropping-->
