.member-list__item {
  .md-button {
    opacity: 0;
  }
  &:hover {
    .md-button {
      opacity: 1;
    }
  }
}

md-tab-content,
md-tabs-content-wrapper {
  display: flex;
  flex: 1 1 0%;
}

md-tab-content > div {
  position: relative;
  width: 100%;
  overflow-y: scroll;
}
