<div ui-view="list">

</div>

<!--<div ui-view="timeline"></div>-->

<div>

  <p>Add member</p>
  <md-autocomplete md-search-text-change="" md-search-text="searchText" md-selected-item-change="addUsers(item.$id)" md-items="item in users | filter: searchText" placeholder="Type email of member to add">
    <span md-highlight-text="searchText" md-highlight-flags='i' ng-repeat="name in item.profile">{{name.firstName}}</span>
  </md-autocomplete>
  <!--END Search users area-->

</div>
<p>Member id</p>
<div ng-repeat="user in users | filterByUserId:projectMemberArray">

  {{user.$id}}


</div>
