@import "../dist/material-colors/colors";

body {
  height: 100%;

  color: $md-grey-800;
}

.slide-down.ng-hide {
  transform: translateY(-50%);
  opacity: 0.5;
}
.slide-down {
  transition: all 0.2s ease-in-out 0s;
}

ul li {
  list-style: outside none none;
  display: inline block;
}
.fab-form {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 2em 4em;
}
