#taskContainer {
  width: 100%;
  height: 100%;
  min-height: 6.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 0.9;
}
#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
.rect {
  margin-left: 10px;
  width: auto;
  overflow: hidden;
}
.container {
  object-fit: contain;
  width: 100%;
  height: auto;
  opacity: 1;
}
.dateBox {
  display: inline-block;
  width: 50px;
  /*  height: 1000px;*/
  text-align: center;
  /*  border-right: 1px solid gray;*/
  position: relative;
}
#mainContainer {
  height: auto;
  overflow-x: scroll
}
.listName {
  z-index: 1;
  position: absolute;
}
.listNameContainer {
  position: relative
}
.box {
  width: 1px;
  background-color: darkslategray;
  position: absolute;
  z-index: 0
}
#testBox {
  height: 100px;
  width: 100px;
  background-color: aqua;
  position: absolute;
  z-index: 1
}
