.login-bg {
    position: absolute;
    z-index: 0;
    overflow: visible;
}

form {
    position: relative;
    z-index: 2;

    md-content {
        padding: 2em;

        h1 {
            text-align: center;
        }
    }
}
